/* main */

.page-title {
    color: black;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(127, 141, 146);
    justify-content: center;
    
}


/* table related */
.tableElement {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 0;
}


.titleRow {
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    border: solid;
    font-size: 28px;
    font-weight: bold;
    padding: 5px;
    background-color: rgb(127, 141, 146);
    border-width: 2px;

}

.toDoListRow {
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    font-size: 20px;
}

.inputRow {
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    font-size: 20px;
    flex: 1;
    gap: 15px;
    justify-content: center;

}

.name-input {
    width: 500px;
}

.date-input {
    width: 200px;
    
}


button {
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 20px;
    width: 80px;
    height: 30px;
    font-size: 20px;
    flex: none;
    align-self: center;
    width: auto;
    cursor: pointer;
}
.delete-button {
    background-color: rgb(163, 28, 28);
}

.add-button {
    background-color: rgb(18, 95, 35);
}

.edit-button {
    background-color: rgb(162, 122, 14);
}