.entireTable {
    border: 5px;
    border: solid;
    margin-left: 25px;
    margin-right: 25px;
}

.tableElement { /* each table cell */
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 0;
}


.titleRow { /* title row */
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    border: solid;
    font-size: 28px;
    font-weight: bold;
    padding: 5px;
    background-color: rgba(127, 141, 146);
    border-width: 2px;

}

.toDoListRow { /* display tasks */
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    font-size: 20px;
}

.inputRow {  /* input rows */
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    font-size: 20px;
    flex: 1;
    gap: 15px;
    justify-content: center;

}


.name-input {  /* task name input */
    width: 500px;
}

.date-input {
    width: 200px; /* task date input */
    
}

.delete-button {
    background-color: rgb(163, 28, 28);
}

.add-button {
    background-color: rgb(18, 95, 35);
}

.edit-button {
    background-color: rgb(162, 122, 14);
}

.save-button {
    background-color: rgb(162, 122, 14);
}

.button-hide {
    display: none;
}

.toDoListRow:nth-child(even) {
    background-color: rgba(127, 141, 146, 0.75);
}

